$primary-color: rgb(206, 16, 63);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
@mixin margin {
    margin: 2rem 0;
}

@mixin theme($theme:rgb(206, 16, 63)) {
    background: $theme;
}

@mixin center {
    margin: auto
}

body{
    @include theme;
    font-size: 2rem;
    font-family: "Archivo",sans-serif;
    line-height: 3rem
}

.container{
    @include center;
    
    max-width: 640px;
    margin-top: 5rem;
    padding: 20px;
    background-color: white;
    border-radius: 1.2rem;
}

p{
    @include margin()
}
